@model WhatNotToWatch.ViewModels.DetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> @Model.Name </title>
</head>
<body>
    <h1> @Model.Name </h1>

    <p>
        <label>Name</label> @Model.Name
    </p>

    <p>
        <label>Genre</label> @Model.Genre
    </p>

    <p>
        <label>Rating</label> @Model.Rating
    </p>

    <p>
        <label>Review</label> @Model.Review
    </p><br>

    <a asp-action="Index" class="btn btn-default">Browse All Reviews</a> 
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Back to Home</a>

</body>
</html>