@model WhatNotToWatch.ViewModels.DetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> What Not To Watch - @Model.Name </title>
</head>
<body>
    <h1> @Model.Name </h1>

    <p>
        <label asp-for="Name"></label> @Model.Name
    </p>

    <p>
        <label asp-for="Genre"></label> @Model.Genre
    </p>

    <p>
        <label asp-for="Rating"></label> @Model.Rating
    </p>

    <p>
        <label asp-for="Review"></label> @Model.Review
    </p><br>

    <a asp-action="Index" class="btn btn-default">Browse All Reviews</a> 
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Back to Home</a>

</body>
</html>