@using WhatNotToWatch.Models
@model TVShow

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> What Not To Watch - Vote on Review </title>
</head>
<body>
    <h1> Vote on Review </h1>

    <p>
        <label asp-for="Name"></label> @Model.Name
    </p>

    <p>
        <label asp-for="Genre"></label> @Model.Genre
    </p>

    <p>
        <label asp-for="Rating"></label> @Model.Rating
    </p>

    <p>
        <label asp-for="Review"></label> @Model.Review
    </p><br>

    <form asp-controller="Reviews" asp-action="Edit" method="post">
        <input type="text" name="ID" value="@Model.ID" class="hide" />

        <div class="otherText">
            Sometimes TV shows aren't great, and sometimes reviews of TV shows aren't great either. Tell us what you think of this review!
        </div>
        <div class="voting">

            <input asp-for="Vote" type="radio" name="vote" value=@(Model.Vote + 1) />
            <img src="~/images/ThumbsUp.png" class="votingImage" /><br /><br />

            <input asp-for="Vote" type="radio" name="vote" value=@(Model.Vote - 1) />
            <img src="~/images/ThumbsDown.png" class="votingImage" />
        </div>

        <div>
            <br />
            <input type="submit" value="Submit" class="btn btn-default" /> &nbsp;
            <a asp-action="Index" class="btn btn-default">Back</a>
        </div>
    </form>
</body>
</html>
